a{
    text-decoration: none;
}
body{
   background-color: rgba(10, 32, 99, 0.241)
   
}

*{
   font-family: "Poppins", serif;
   
}
.fondopag{
   background-image: url(../imgs/fondoweb.avif);
   width: 100%; 
   height: 100%;
 background-attachment: fixed;
 

}